* {
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100vh;
}

.preview {
  width: 100%;
  height: auto;
  transition: all ease .4s;
  position: relative;
}

.preview img {
  width: 100%;
}

.preview p {
	position: absolute;
	padding: 5px;
	background-color: #212529;
	color: #fff;
	border: 1px solid #6c757d;
	z-index: 1;
	font-size: 1rem;
  border-radius: 4px;
}

.innerSquare {
	border: 1px solid #6c757d;
	z-index: 1;
	position: absolute;
  border-radius: 4px;
}
